{% extends "layout.html" %}
{% block body %}

<div class="container">
	<div class="page-header">
		<h1>
			Reset Password
		</h1>
	</div>
	{% include 'flash.html' %}
	<form class="form-horizontal" action="{{ url_for('reset_password') }}" method=post name="">
		{{ form.csrf_token }}
        	<div class="control-group">
            		<label class="control-label">Email:</label>
            		<div class="controls">{{ form.email }}</div>
			<div class="controls"><input type="submit" value="Send Password Reminder"></div>
        	</div>
	</form>
</div>

{% endblock %}
