{% extends "layout.html" %}
{% block body %}
<div class="container">
	{% include 'flash.html' %}
	<div class="page-header">
		<h1>
			About the Music Tracker
		</h1>
	</div>
        <p>I'm Eric. I wrote this web app for two reasons:</p>
        <ol>
            <li>I have a bunch of friends with great music taste, and I wanted a neat way to keep track of everything they recommend me, without having to agonize over what to listen to.</li>
            <li>I love coding and learning more about how computers work. Before I started this project, I'd never done any web development.</li>
        </ol>
        <p>I put 2 and 2 (or 1 and 2!) together, and built this app. Hopefully, you get some use out of it. :)</p>
        <h3>Boring technical stuff</h3>
        <p>I used Python because it feels very "lightweight" to me. My first languages were C++ and Java. Comparatively, Python has less overhead for getting stuff done. It's also got an amazingly huge variety of libraries. I think it's pretty neat.</p>
        <h3>Say hi!</h3>
        <p>This is my first web app, so I'm sure there's tons of stuff I could improve. If you see anything, say hi on Twitter; I'm <a href="https://www.twitter.com/unironiceric">@unironiceric</a>.</p>
</div>
{% endblock %}

