{% extends "layout.html" %}
{% block body %}

<div class="container">
	<form class="container" action="" method=post name="">
        <table class="table">
		{{ form.hidden_tag() }}
                <tr>
                    <td><h1>{{ info['artist'] }}</h1></td>
                </tr>
                <tr>
                    <td>Bio:</td>
                    <td>{{ info['bio'] }}</td>
                </tr>
                <tr>
                    <td>Top Album:</td>
                    <td>{{ info['album'] }}</td>
		</tr>
                <tr>
                    <td>Top Track:</td>
                    <td>{{ info['track'] }}</td>
		</td>
            </table>
                    <a href="{{ info['url'] }}">{{ info['artist'] }} on Last.fm</a></td>
		<div class="control-group">
			<label class="controls"> {{ form.submit }} </label>
		</div>
	</form>
</div>

{% endblock %}
