{% extends "layout.html" %}
{% block body %}
<div class="container">
	{% include 'flash.html' %}
	<div class="page-header">
		<h1>
			Welcome to Eric's Music Tracker!
		</h1>
	</div>
	Hi there! This is Eric's Music Tracker, a simple web app for keeping track of new artists you've heard of, but haven't listened to yet. 
	Simply enter their name, and it'll give you their most popular song and album, according to <a href="http://last.fm/">last.fm</a>!
	You can get around the site using the navbar up top.
</div>
{% endblock %}
