{% extends "layout.html" %}
{% block body %}
<form action="" method="">
    <table>
        <tr>
            <td>Artist</td>
            <td>Album</td>
            <td>Song</td>   
            <td>Date Added</td>
        </tr>

        {% for artist in artists %}
        <tr>
            <td>{{ artist.artist_name }}</td>
            <td>{{ artist.best_album }}</td>
            <td>{{ artist.best_song }}</td>
            <td>{{ artist.date_added }}</td>

            {% if not artist.active %}
                <td><a href="/my_artists/unarchive/{{ artist.id }}">Unarchive</a></td>
            {% else %}
                <td><a href="/my_artists/archive/{{ artist.id }}">Archive</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
