{% extends "layout.html" %}
{% block body %}

<div class="container">
	{% include 'flash.html' %}
        <div class="page-header">
            <h1>
                Manage Your Artists
            </h1>
            <a href="/my_artists/all/">Show all artists</a>
        </div>
{% if artists %}
<form class="container" action="" method="">
	<table class="table">
		<thead>
			<tr>
				<th>Artist</th>
				<th>Album</th>
				<th>Song</th>
				<th>Date Added</th>
			</tr>
		</thead>
		{% for artist in artists %}
		<tr>
			<td>{{ artist.artist_name }}</td>
			<td>{{ artist.best_album }}</td>
			<td>{{ artist.best_song }}</td>
			<td>{{ artist.date_added }}</td>
            		{% if not artist.active %}
                		<td><a href="/my_artists/unarchive/{{ artist.id }}">Unarchive</a></td>
            		{% else %}
                		<td><a href="/my_artists/archive/{{ artist.id }}">Archive</a></td>
            		{% endif %}
		</tr>
		{% endfor %}
	</table>
</form>
{% else %}
It looks like you don't have any artists tracked. <a href="/add/">Why not change that?</a>
{% endif %}
</div>

{% endblock %}
